{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumni | Chat</title>
    <link rel="stylesheet" href="{% static '/css/chat.css' %}">
</head>
<body>
    <nav>
        <img src="{% static 'img/logorset.png' %}" alt="logo" class="logo">
        <input type="text" placeholder="Search" >
        <div class="btn-nav-group">
            <a href="#" class="btn-nav">Home</a>
            <a href="#" class="btn-nav">Jobs</a>
            <a href="#" class="btn-nav">Chats</a>
        </div>
        <a href="#" class="btn-profile">
            <img class="profile" src="{% static 'img/emoji.png' %}" alt="profile" class="profile-pic">
        </a>
    </nav>

    <div class="container">
        <div class="chats-container">
            <h3>Chat</h3>
            <input type="text" class="input-chat-search">
            <div class="chat-list">
                {% for room in rooms %}
                <a class="chat-card-container" href="{% url 'room' room.slug %}">
                    <img class="profile" src="{% static 'img/emoji.png' %}" alt="person" class="person-img">
                    <div class="person-info">
                        <p class="person-name">{{room.name}}</p>
                        <p class="last-message">dsfjhkdshksjdf</p>
                    </div>
                    <div class="chat-status">
                        <p class="time">5:56 pm</p>
                        <p class="unread-count">3</p>
                    </div>
                </a>
                {% endfor %}
            </div>

            <div class="create-btn-group">
                <a class="btn-create-conv" href="{% url 'peopleList' %}">Create Conversation</a>
                <a class="btn-create-group" href="{% url 'create_group_room' %}">Create Group</a>
                <!-- <button class="btn-create"><img class="icon" src="{% static 'img/create.png' %}" alt="create icon"></button> -->
            </div>
        </div>

        <div class="chat">
            <div class="message-container">
                {% for m in messages %}
                <div class="message {% if m.user.username == request.user.username %}sent-message{% else %}rec-message{% endif %}">
                    <img class="profile" src="{% static 'img/emoji.png' %}" alt="sent image">
                    <div class="message-content">
                        {% if m.user.username != request.user.username %}<p>{{ m.user.username }}</p>{% endif %}
                        <p>{{ m.content }}</p>
                        <p class="time">{{ m.date_added }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>

            <form class="input-container" method="post" action=".">
                <input type="text" class="input-msg" name="content" placeholder="Your message..." id="chat-message-input">
                <button id="chat-message-submit" type="submit" class="btn-submit"><img class="icon" src="{% static 'img/send.png' %}" alt="Send Button"></button>
            </form>
        </div>
    </div>

</body>


{% block scripts %}
{{ room.slug|json_script:"json-roomname" }}
{{ request.user.username|json_script:"json-username" }}
{% endblock %}

<script>
    const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
    const userName = JSON.parse(document.getElementById('json-username').textContent);
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/'
        + roomName
        + '/'
    );

    chatSocket.onclose = function(e) {
        console.log('WebSocket closed.');
    };

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);

        if (data.message) {
            document.querySelector('#chat-messages').innerHTML += ('<b>' + data.username + '</b>: ' + data.message + '<br>');
        } else {
            console.log('Received empty message.');
        }

        scrollToBottom();
    };

    document.querySelector('#chat-message-input').focus();

    document.querySelector('#chat-message-submit').onclick = function(e) {
        e.preventDefault();

        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;

        chatSocket.send(JSON.stringify({
            'message': message,
            'username': userName,
            'room': roomName
        }));

        messageInputDom.value = '';
        location.reload()
        return false;
    };

    // Prevent form submission on Enter key
    document.querySelector('form').onsubmit = function() {
        return false;
    };

    /**
    * A function for finding the messages element, and scrolling to the bottom of it.
    */
    function scrollToBottom() {
        let objDiv = document.getElementById("chat-messages");
        objDiv.scrollTop = objDiv.scrollHeight;
    }

    // Scroll to the bottom on page load
    scrollToBottom();
</script>

</html>